@import url("https://fonts.googleapis.com/css2?family=Sometype+Mono&display=swap");
.ruleta {
  margin-top: 50px;
  position: relative;
  /* transform: translate(-50%,-50%); */
  width: 90vw;
  height: calc(100% - 70px);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: auto;
}

.container {
  position: relative;
  display: grid;
  place-content: center;
}

.ruleta-img {

  height: 300px;
  transform: rotate(0deg);
  mix-blend-mode: multiply;
  border-radius: 50%;
}

.bola {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 20px;
  transition: all 200ms ease-out;
}

.girar {
  animation: girar 5s ease-in-out;
}

@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(354deg);
  }
}

.hidden {
  opacity: 0;
}

.glow-on-hover {
  font-family: 'Sometype Mono', monospace;
  margin: 20px;
  width: 220px;
  height: 40px;
  border: 3px;
  border-bottom: black;
  outline: none;
  color: #000000;
  background: rgb(255, 255, 255);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  font-weight: 600;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing_54134 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #ffffff
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ffffff;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing_54134 {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.buttons {
  display: grid;
  grid-template-columns: repeat(6, minmax(40px, 100px));
  
}

input[type="number"] {
  margin-left: 20px;
  width: 100px;
}


input[type="submit"] {
  margin: 2px;
  background-color: white;
  font-family: 'Sometype Mono', monospace;
}



.separator{
  display: grid;
  place-items: center;

}

.separator label{
  display: flex;
  flex-direction: column;
  align-items: center;
}