header {
  position: absolute;
  width: 100%;
  height: 60px;

  & nav {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: right;
    & a {
      color: black;
      text-decoration: none;
      height: 100%;
      display: flex;
      align-items: center;
      padding: 0 20px;
      transition: background 200ms ease;
    }

    & a:hover {
      background: rgb(207, 207, 207);
      transition: background 200ms ease;
    }
  }
}
.e-commerce {
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: calc(100% - 80px);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
  place-items: center;
  overflow-y: scroll;

  & article {
    border: 1px solid rgb(83, 67, 38);
    padding: 10px;
    border-radius: 20px;

    & img {
      height: 200px;
      aspect-ratio: 1;
      border-radius: 20px;
    }
  }

  & article {
    background: rgb(251, 133, 7);
    background: radial-gradient(
      circle,
      rgba(251, 133, 7, 1) 0%,
      rgba(251, 158, 7, 0.8687850140056023) 100%
    );
  }

  & article section {
    position: relative;

    & .icon {
      position: absolute;
      right: 0;
      top: 0;
      cursor: pointer;
    }
  }
}

.cart {
  position: fixed;
  top: 10px;
  left: 10px;
  cursor: pointer;
  border-radius: 50%;
  padding: 5px;
  transition: background 200ms ease;
}

.cart:hover {
  background: rgb(228, 118, 1);
  transition: background 200ms ease;
}

aside {
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  height: clamp(200px, 50vh, 500px);
  width: clamp(350px, 70vw, 650px);
  background: #ffffff;
  padding: 20px;
  display: grid;
  place-items: center;
  & input[type="button"].close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 1.8em;
    border: none;
    cursor: pointer;
  }

  & input[type="button"].purchase {
    border-radius: 20px;
    width: 80px;
    height: 40px;
    position: absolute;
    bottom: 10px;
    right: 30px;
    cursor: pointer;
    background: #807777;
    border: 1px solid black;
  }

  & input[type="button"].green {
    background: #15b300;
    color: white;
  }

  & article {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 80%;
    overflow-y: scroll;

    & section {
      display: flex;
      align-items: center;
      width: 350px;

      & img {
        aspect-ratio: 1;
        height: 100px;
      }
    }
  }
}

.right {
  position: absolute;
  right: 0;
}
